
@media only screen and (max-device-width: 480px) {

  .span_2_of_2,
  .span_1_of_2 {
    width: 100%;
    grid-template-columns: auto;
    grid-gap: unset;
  }

  .company-name{
    font-size: 2em;
  }
  .grid-container{
    display: block!important;
  }
  .spacex-detail {
    display: block;
    margin: 1rem 0;
  }
  .filter {
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 0.5rem;
    &--year, &--option {
      right:unset!important;
      left:5%!important;
    }
  }
  .wrapper{
    margin-top: 1rem;
    display: block!important;
  }
  .image-wrapper{
    top:5%!important;
    transform: translateX(18%) translateY(5%) !important;
  }

}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  label {
    width: 98%!important;
  }
  .span_2_of_2 .wrapper {
    grid-gap: 1rem;
    grid-template-columns: auto auto!important;
    max-width: 100%;
    display: grid;
  }
  .image-wrapper {
    transform: translateY(7%) translateX(17px)!important;
  }
}

.App {
  padding: 1rem 1rem 0 1rem;
  height: calc(100% - 1rem);
  width: auto;
  max-width: 100%;
}

h2,
h3 {
  margin: unset;
}

.company-name {
  font-size: 3em;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

label {
  height: 3rem;
  width: 7rem;
  position: relative;
  cursor: pointer;
  background-color: yellowgreen;
  margin: 3% 1%;
  border-radius: 0.5rem;
  text-align: center;
  left:3%;

  &.selected {
    background-color: lightgreen;
  }
}

label [type="radio"] {
  display: none;
}

[type="radio"]+span {
  display: inline-block;
  padding: 1em;
}

.filter,
.spacex {
  background-color: #fff;
}

.filter {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 0.5rem;
  &--year, &--option {
    display: grid;
    grid-template-columns: 50% 50%;
    font-weight: 500;
    padding: 1%;
    position: relative;
    right: 2%;
  }

  .heading {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  hr {
    margin: 0.5rem 2rem;
  }

  &--launch-year {
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
  }
}

.spacex {
  display: flex;
  background-color: inherit;
  float: left;

  &-detail {
    width: 100%;
    justify-content: center;
    position: relative;
    height: auto;
    border-radius: 0.5rem;
    background-color: #fff;

    .image-wrapper {
      width: 13em;
      left: 6.5%;
      position: relative;
      height: 18rem;
      margin-bottom: 13%;
      background-color: #80808026;
      display: block;
      transform: translateY(7%);
      img{
        top:5%;
        position: relative;
      }
    }

    .detail-wrapper {
      margin: 0.5rem 1rem;
      h3{
        color:blue;
      }
    }
  }
}

/*  SECTIONS  */
.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 1em;
}

/*  COLUMN SETUP  */
.col {
  display: block;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWO  */
.span_2_of_2 .wrapper{
  grid-gap: 1rem;
  grid-template-columns: auto auto auto auto;
  max-width: 100%;
  display: grid;
}

.span_2_of_2 {
  position: relative;
  width: 100%;
}

.span_1_of_2 {
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
